{
	"presets": ["@babel/preset-env", "@babel/preset-react"] // 'preset-env' contains different babel packages needed to convert all ES6 JS syntax into older versions; 'preset-react' contains babel packages needed to convert React JSX syntax into the version of JS supported by older browsers
}
